<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-8 mb-16">
  @for (recipe of recipes(); track recipe.id) {
  <div class="recipe-item p-2 bg-neutral-0 rounded-lg shadow-md">
    <div class="overflow-hidden h-[300px] md:h-[450px] lg:h-[300px] rounded-lg mb-4 relative">
      <img
        [ngSrc]="recipe.image.large"
        [alt]="recipe.title"
        fill
        sizes="(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 33vw"
        class="object-cover"
      />
    </div>
    <div class="mx-2 mb-4">
      <h4 class="text-preset-5 mb-2  text-ellipsis overflow-hidden whitespace-nowrap">{{ recipe.title }}</h4>
      <p class="text-preset-9 mb-2">{{ recipe.overview }}</p>
      <app-recipe-times [recipe]="recipe" />
    </div>
    <a [routerLink]="['/recipes', recipe.id]"
       class="button bg-neutral-900 text-white px-8 py-3 rounded-full text-preset-8 flex justify-center">
      View Recipe
    </a>
  </div>
  }
</div>
