
<app-container>
  <div class="text-left lg:text-center pt-20 text-balance z-10 relative">
    <h1 class="text-preset-1 mb-3 mx-auto">
      Explore our simple, healthy recipes
    </h1>
    <p class="mb-8 max-w-[790px] mx-auto">
      Discover eight quick, whole-food dishes that fit real-life schedules and taste amazing. Use the search bar to find a recipe by name or ingredient, or simply scroll the list and let something delicious catch your eye.
    </p>
  </div>
</app-container>

<app-container>
  <div class="flex flex-row gap-4 mb-6">
    <div class="bg-neutral-0 px-4 py-2 border rounded-lg text-preset-7 text-neutral-900">Max Prep Time</div>
    <div class="bg-neutral-0 px-4 py-2 border rounded-lg text-preset-7 text-neutral-900">Max Cook Time</div>
    <div class="bg-neutral-0 px-4 py-2 border rounded-lg text-preset-7 text-neutral-900 ms-auto me-0">Search by name or ingredient…</div>
  </div>
  <div *ngIf="loading">Loading recipes...</div>
  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-8 mb-16">
    <div *ngFor="let recipe of recipes" class="recipe-item p-2 bg-neutral-0 rounded-lg shadow-md">
      <div class="overflow-hidden h-[300px] md:h-[450px] lg:h-[300px] rounded-lg mb-4">
        <img
          [ngSrc]="recipe.image.large"
          [alt]="recipe.title"
          width="360"
          height="360"
          class="w-full h-full object-cover"
          priority
        />
      </div>
      <div class="mx-2 mb-4">
        <h4 class="text-preset-5 mb-2  text-ellipsis overflow-hidden whitespace-nowrap">{{ recipe.title }}</h4>
        <p class="text-preset-9 mb-2">{{ recipe.overview }}</p>
        <app-recipe-times [recipe]="recipe" />
      </div>
      <a [routerLink]="['/recipes', recipe.id]"
         class="button bg-neutral-900 text-white px-8 py-3 rounded-full text-preset-8 flex justify-center">
        View Recipe
      </a>
    </div>
  </div>
</app-container>
